.search {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: var(--clr-dark-blue);
  backdrop-filter: blur(.75rem);
  -webkit-backdrop-filter: blur(.75rem);
  padding: 0 1rem 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s;
}

.search-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 2rem;
  padding: .625rem .75rem;
  border-radius: 50%;
  background: var(--clr-darker-blue);
  font-size: var(--size-xl);
  color: var(--clr-light);
  cursor: pointer;
  transition: .4s;
}

.search-close:hover {
  background: transparent;
}

.search-form {
  display: flex;
  width: 100%;
  align-items: center;
  column-gap: .25rem;
  background: var(--clr-light);
  box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .2);
  padding-inline: .5rem;
  border-radius: .5rem;
  transform: translateY(-1rem);
  transition: transform .4s;
}

.search-icon {
  font-size: var(--size-md);
  color: var(--clr-dark-blue);
  
}

.search-input {
  width: 100%;
  padding-block: .5rem;
  background: var(--clr-light);
  color: var(--clr-darker-blue);
  font-size: var(--size-md);
  text-align: center;
   border: none;
}

.search-input:focus {
  outline: none;
}

.search-input::placeholder {
  color: var(--clr-darker-blue);
  font-size: var(--size-md);
  text-align: center;
}

.show-search {
  opacity: 1;
  pointer-events: initial;
}

.show-search .search-form {
  transform: translateY(0);
}

.search-form button {
  padding: .5rem .75rem;
  margin: 0;
  background: var(--clr-gradient);
  transition: all .7s ease;
}

.search-form button i {
  color: var(--clr-light);
  font-size: var(--size-md);
}

.search-form button:hover {
  box-shadow: none;
  background: var(--clr-gradient-rev);
}

/*xs */
/*@media (min-width :475px){}*/

/*sm */
@media (min-width :640px){
  .search {
    padding:0 4rem;
  }
}

/*md */
@media (min-width :768px){
  .search {
    padding: 0 7.5rem 0;
  }

  .search-form {
    column-gap: .5rem;
    padding-inline: 1rem;
  }
  
  .search-icon {
    font-size: var(--size-lg);
  }
  
  .search-input {
    padding-block: .75rem;
    font-size: var(--size-lg);
  }
  
  .search-input::placeholder {
    font-size: var(--size-lg);
  }
  
  .search-form button i {
    font-size: var(--size-lg);
  }

}

/*lg */
@media (min-width :1024px){
  .search {
    padding: 0 8.5rem 0;
  }
  
  .search-close {
    padding: .5rem .75rem;
    font-size: var(--size-3xl);
  }
  
  .search-close:hover {
    background: transparent;
  }
  
  .search-icon {
    font-size: var(--size-2xl);
  }
  
  .search-input {
    padding-block: 1rem;
    font-size: var(--size-2xl);
  }
  
  .search-input::placeholder {
    font-size: var(--size-2xl);
  }
  
  .search-form button i {
    font-size: var(--size-2xl);
  }

}

/*xl */
@media (min-width :1280px){
  .search {
    padding: 0 12.5rem 0;
  }
}

/*xxl */
/*@media (min-width :1536px){}*/